requests
streamlit
abaqus-parse
aiohttp
aiosignal
altair
appdirs
argcomplete
argon2-cffi
async-timeout
asynctest
attrs
backcall
backports.zoneinfo
bleach
blinker
bokeh
Bottleneck
branca
cachetools
cairocffi
CairoSVG
calfem-python
certifi
cffi
charset-normalizer
click
click-plugins
cligj
cloudpickle
cmocean
colorama
colorcet
commonmark
ConfigArgParse
cssselect2
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
fastjsonschema
Fiona
flake8
Flask
folium
fracture-fea-laf
frozenlist
geopandas
gitdb
GitPython
h3
h5py
idna
imageio
importlib-metadata
importlib-resources
ipycanvas
ipydatawidgets
ipyevents
ipykernel
ipython
ipython-genutils
ipyvtklink
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
meshio
mistune
more-itertools
mpmath
multidict
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numba
numpy==1.20.3
open3d
openpyxl
packaging
pandas
pandocfilters
panel
param
parso
patsy
pickleshare
pipp
plotly
plotly-express
pooch
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycodestyle
pycparser
pyct
pydeck
pyflakes
Pygments
Pympler
PyOpenGL
pyparsing
pyproj
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
pyrsistent
python-dateutil
pythreejs
pytz
pytz-deprecation-shim
PyYAML
pyzmq
qtconsole
QtPy
reportlab
rich
scikit-image
scipy
scooby
SDF
Send2Trash
shapely
six
slippy
smmap
statsmodels
streamlit-folium
svglib
sympy
tenacity
terminado
testpath
tifffile
timezonefinder
tinycss2
tinydb
toml
toolz
tornado
tqdm
traitlets
traittypes
trimesh
typer
typing_extensions
tzdata
tzlocal
tzwhere
urllib3
validators
vecmaths
visvis
watchdog
wcwidth
webencodings
widgetsnbextension==3.6.1
wslink==1.9.2
yarl==1.8.2
zipp==3.6.0
